@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-200 text-zinc-800;
  @apply dark:bg-zinc-800 dark:text-zinc-100;
}

a {
  @apply text-zinc-600;
  @apply dark:text-zinc-300;
  @apply hover:underline;
}

.button {
  @apply p-1 transition-colors;
  @apply hover:enabled:bg-zinc-600 hover:enabled:text-zinc-300;
  @apply dark:enabled:bg-zinc-300 dark:enabled:text-zinc-800;
  @apply active:enabled:bg-yellow-400 active:enabled:text-zinc-800;
  @apply disabled:opacity-50;
}

.mintButton {
  @apply w-full border-2 border-zinc-800 text-xl p-3 transition-colors;
  @apply hover:enabled:bg-zinc-800 hover:enabled:text-zinc-300;
  @apply dark:border-zinc-300 dark:hover:enabled:bg-zinc-300 dark:hover:enabled:text-zinc-800;
  @apply active:enabled:border-yellow-400 active:enabled:bg-yellow-400 active:text-zinc-800;
  @apply disabled:opacity-50;
}

footer p {
  @apply overflow-ellipsis overflow-hidden;
}
